
# 16/9/25

![[svv_02.pdf]]

# 17/9/25

![[17:9:25.pdf]]

# 19/9/25

![[svv_04.pdf]]

# 23/9/25

1 e 3

![[exeSVV_01.pdf]]

# 24/9/25

2 e 4

![[exeSVV_01.pdf]]

# 26/9/25

![[svv_05.pdf]]

# 30/9/25

![[PDF/SOFTWARE VERIFICATION/30:9:25.pdf|30:9:25]]

# 1/10/25

![[svv_07.pdf]]